<?xml version="1.0" encoding="utf-8"?>
<Setting>
  <SourcePath>C:\Users\Administrator\Music\back\sm18\systems</SourcePath>
  <TargetPath>C:\Users\Administrator\Videos\bc</TargetPath>
  <ProcessPath>C:\Users\Administrator\Music\back\sm18\sm18.exe</ProcessPath>
  <Duration>5</Duration>
  <MaxBackupCount>20</MaxBackupCount>
  <IsAutoBackup>True</IsAutoBackup>
</Setting>